@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 1rem;
}
.Blur{
background-color: black;
z-index: 25;
position: absolute;
top: 0;
left:0;
opacity:.5 ;
height: 145vh;
width: 98.5vw;
}
.Modal1{
z-index: 100;
position: absolute;
top: 28%;
left:40%;
overflow: hidden;
height: 100hv;
overflow: hidden;
width:20%;
}
input{
    /* margin-top: 3px; */
    border-radius: 10px;
    padding: 4px;
    border: none;
    outline: none;
}
.icons{
    position: relative;
    left: 93%;
    bottom: 94%;
    opacity: 0;
    color: white;
    height: 21px;
    width: 22px;
}
.iconAfter{
    position: relative;
    left: 93%;
    bottom: 94%;
    opacity: 1;
    color: white;
    height: 21px;
    width: 22px;
}
.edit{
    margin-top: 7px;
    padding: 4px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #172B4D;
}